.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}
.submit-form {
  max-width: 600px;
  margin: auto;
}
.edit-form {
  max-width: 600px;
  margin: auto;
}
.button-box {
  text-align: center;
  margin-top: 20px;
}
.navbar-brand {
  margin-left: 12px;
}
.btn-success {
  margin-top: 20px;
}